<h1>Hi</h1>
 <div id="put_stuff">
   </div>
  <form method="post" action="/survey/<%= params[:survey_id]%>/user/<%= session[:user_id]%>/increment">
    <div id="true_false">

</div>
  </form>
      <input id="form_click" type="submit" value="next question">


