
 <h1>Welcome back, <%= current_user.name %></h1>
<h2><a href="#">Create Survey</a></h2>

<input id="question">Add</input><a class="add" href="#">Click</a>
<div type="hidden">





 </div>

 <form>
  <input


    </form>
