 <h1>Welcome back, <%= current_user.name %></h1>
<h2><a href="#">Create Survey</a></h2>


<div id="addinput">
<p>
<input type="text" id="p_new" size="20" name="p_new" value="" placeholder="Input Value" /><a href="#" id="addNew">Add</a>
</p>
</div>
